main{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 100vh;
    margin: 0;
}

#boxes{
    display: flex;
}

#boxes>div{
    width: 250px;
}

#boxes>div>img{
    width: 250px;
}
#boxes>div>div{
    position: relative;
    top: 0;
    right: 0;
    margin: auto;
    width: 50px;
}

#home-image{
    width: 350px;
    height: 230px;
}

