body{
    background-color: black;
}

main {
    width: fit-content;
    height: fit-content;
    position: absolute;

    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

#color-panel {
    display: flex;
    width: fit-content;
    height: fit-content;
    margin: auto;
}

#color-panel>div{
    width: 250px;
    height: 120px;
    margin: 5px;
    border-radius: 10px;
    border: 2px solid darkred;
}